{% extends 'base.html' %}
{% block content %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">PhD Exam</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">MALAKAVIY IMTIHON</li>
        </ol>
     <div class="row">

            {% for status, count in status_counts.items %}
            <div class="col-xl-3 col-md-6">
                {% if status == "pending" %}
                <div class="card bg-primary text-white mb-4"
                     style="display:flex; align-items: center; flex-direction: row;">
                    <div><i class="fas fa-hourglass-start" style="font-size: 40px; padding-left: 12px; color: wheat"></i></div>
                    <div class="card-body">{{ status }}
                        <div><h1>{{ count }}</h1></div>
                    </div>
                </div>
                {% elif status == "accepted" %}
                <div class="card bg-success text-white mb-4"
                     style="display:flex; align-items: center; flex-direction: row;">
                    <div><i class="fa-solid fa fa-check-circle" aria-hidden="true"  style="font-size: 40px; padding-left: 12px; color: forestgreen"></i></div>
                    <div class="card-body">{{ status }}
                        <div><h1>{{ count }}</h1></div>
                    </div>
                </div>
                {% elif status == "rejected" %}
                <div class="card bg-danger text-white mb-4"
                     style="display:flex; align-items: center; flex-direction: row;">
                    <div><i class="fa-solid fa fa-times-circle" aria-hidden="true" style="font-size: 40px; padding-left: 12px; color: crimson"></i></div>
                    <div class="card-body">{{ status }}
                        <div><h1>{{ count }}</h1></div>
                    </div>
                </div>
		{% elif status == 'graded' %}
            	<div class="card bg-success text-white mb-4"
                     style="display:flex; align-items: center; flex-direction: row;">
                    <div><i class="fa-solid fa fa-clipboard-check" aria-hidden="true"  style="font-size: 40px; padding-left: 12px; color: forestgreen"></i></div>
                    <div class="card-body">{{ status }}
                        <div><h1>{{ count }}</h1></div>
                    </div>
            {% endif %}
            </div>
            {% endfor %}

                
            </div>

        </div>

        <div class="card mb-4">
            <div class="card-header p-3">
                <div style="display: flex; align-items: center">
                    <i class="fas fa-table me-1"></i>
                    <h4><b>Arxivlar ro‘yxati</b></h4>
                </div>
                <div style="display: flex;">
                    <button class="btn btn-success">
                         <i class="fa-solid fas fa-file-excel"></i>
                        <a><b>Excel</b></a>
                    </button>

                    <button class="btn btn-dark" style="margin-left: 6px; padding-left:14px; padding-right:14px">
                         <i class="fa-solid fas fa-filter"></i>
                        <a><b>Filter</b></a>
                    </button>
                </div>
            </div>
            <div class="card-body mt-2">
                <table id="myTable" class="display table table-striped" style="width:100%; padding-top: 20px">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>FIO</th>
                        <th>YO‘NALISH</th>
                        <th>TASHKILOT</th>
                        <th>FAN NOMI</th>
                        <th>STATUS</th>
                        <th>AMAL</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for application in applications %}
                    <tr id="row_{{ application.id }}">
                        <td>{{ application.id }}</td>
                        <td>{{ application.last_name }} {{ application.first_name }} {{ application.mid_name }}</td>
                        <td>{{ application.directions }}</td>
                        <td>{{ application.organization }}</td>
                        <td>{{ application.sciences }}</td>

                        <td id="status_{{ application.id }}">
                            <span class="
                    {% if application.status == 'pending' %}
                        btn btn-outline-warning
                    {% elif application.status == 'accepted' %}
                        btn btn-outline-success
                    {% elif application.status == 'rejected' %}
                        btn btn-outline-danger
                    {% else %}
                        btn btn-outline-secondary
                    {% endif %}">{{ application.get_status_display }}</span>
                        </td>
			
                        <td>
                            <form method="POST" action="{% url 'update_status' pk=application.id %}">
                                {% csrf_token %}
                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#applicationModal_{{ application.id }}">
                                    <div style="display:flex; align-items: center; justify-contenct: space-between;"><i class="fa-regular fas fa-eye" style="margin-right: 4px"></i> Korish</div>
                                </button>
                            </form>
                        </td>
                    </tr>


                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}