{% extends 'base.html' %}
{% block content %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">PhD Exam</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">MALAKAVIY IMTIHON</li>
        </ol>
        <div class="row">

            {% for status, count in status_counts.items %}
            <div class="col-xl-3 col-md-6">
                {% if status == "pending" %}
                <div class="card bg-primary text-white mb-4"
                     style="display:flex; align-items: center; flex-direction: row;">
                    <div><i class="fas fa-hourglass-start" style="font-size: 40px; padding-left: 12px; color: wheat"></i></div>
                    <div class="card-body">{{ status }}
                        <div><h1>{{ count }}</h1></div>
                    </div>
                </div>
                {% elif status == "accepted" %}
                <div class="card bg-success text-white mb-4"
                     style="display:flex; align-items: center; flex-direction: row;">
                    <div><i class="fa-solid fa fa-check-circle" aria-hidden="true"  style="font-size: 40px; padding-left: 12px; color: forestgreen"></i></div>
                    <div class="card-body">{{ status }}
                        <div><h1>{{ count }}</h1></div>
                    </div>
                </div>
                {% elif status == "rejected" %}
                <div class="card bg-danger text-white mb-4"
                     style="display:flex; align-items: center; flex-direction: row;">
                    <div><i class="fa-solid fa fa-times-circle" aria-hidden="true" style="font-size: 40px; padding-left: 12px; color: crimson"></i></div>
                    <div class="card-body">{{ status }}
                        <div><h1>{{ count }}</h1></div>
                    </div>
                </div>
		{% elif status == 'graded' %}
            	<div class="card bg-success text-white mb-4"
                     style="display:flex; align-items: center; flex-direction: row;">
                    <div><i class="fa-solid fa fa-clipboard-check" aria-hidden="true"  style="font-size: 40px; padding-left: 12px; color: forestgreen"></i></div>
                    <div class="card-body">{{ status }}
                        <div><h1>{{ count }}</h1></div>
                    </div>
            {% endif %}
            </div>
            {% endfor %}

            </div>

        </div>

        <div class="card mb-4">
            <div class="card-header p-3">
                <div style="display: flex; align-items: center">
                    <i class="fas fa-table me-1"></i>
                    <h4><b>Komissiyalar ro‘yxati</b></h4>
                </div>
                <div style="display: flex;">

                    <a href="{% url 'export_excelgroup' %}" class="btn btn-success" style="margin-right: 6px">
                         <i class="fa-solid fas fa-file-excel"></i> <b>Excel</b>
                    </a>

                    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#modal3">
                         <i class="fa-solid fas fa-plus"></i>
                        <a><b>Yangi qo‘shish</b></a>
                    </button>
                    <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modal3Label" aria-hidden="true"
                         role="dialog">

                        <div class="modal-dialog modal-lg" role="document">

                            <!-- FORM-->
                            <form method="POST" action="" enctype="multipart/form-data">
                                <input type="hidden" name="item_id" value="2761">
                                <div class="modal-content">


                                    <div class="modal-header">
                                        <h5 class="modal-title" id="add_item">Komissiya ma`lumotlarini kiritish</h5>
                                        <button class="btn-close" type="button" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>


                                    <div class="modal-body" style="height:auto;">

                                        <form action="{% url 'comission' %}" method="post"
                                              enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <label class="form-label" for="id_chairman">Komissiya raisi:</label>
                                            <input class="form-control" name="chairman" id="id_chairman"
                                                   placeholder="Komissiya raisi kiriting"
                                                   value="{{ form.chairman.value|default:'' }}">

					    <label class="form-label" for="id_deputy">Rais o'rinbosari:</label>
                                            <input class="form-control" name="deputy" id="id_deputy"
                                                   placeholder="Rais o'rinbosari"
                                                   value="{{ form.deputy.value|default:'' }}">
						
					    <label class="form-label" for="id_secretary">Komissiya kotibi:</label>
                                            <input class="form-control" name="secretary" id="id_secretary"
                                                   placeholder="Komissiya kotibi"
                                                   value="{{ form.secretary.value|default:'' }}">

                                             <label class="form-label" for="id_members">Komissiya azolari</label>
                                              <input class="form-control" name="members" id="id_members"
                                                   placeholder="Komissiya azolari"
                                                   value="{{ form.members.value|default:'' }}">
                                          
                                            </br>
                                            <button type="submit" class="btn btn-primary">
                                                Yuborish
                                            </button>

                                        </form>
                                    </div>

                                </div>
                            </form>
                            <!-- FORM END -->

                        </div>

                    </div>

                    <button type="button" data-bs-toggle="modal" data-bs-target="#modal4"
                            class="btn btn-dark"
                            style="margin-left: 6px; padding-left:14px; padding-right:14px">
                         <i class="fa-solid fas fa-filter"></i>
                        <a><b>Filter</b></a>
                    </button>
                    <div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true"
                         role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="">Filter</h5>
                                    <button class="btn-close" type="button" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>

                                <form method="GET" action="{% url 'comission' %}">
    <div class="modal-body">
        <div class="mb-3">
            <label for="chairman" class="form-label">Komissiya raisi</label>
            <div class="input-group" style="width: 100%;">
                <select class="form-select" name="chairman" id="chairman">
                    <option value="">Barchasi</option>
                    {% for comission in all_comissions %}
                        <option value="{{ comission.id }}" {% if comission.id == selected_comission %}selected{% endif %}>
                            {{ comission.chairman }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Filtrlash</button>
    </div>
</form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body mt-2">
                <table id="myTable" class="display table table-striped" style="width:100%; padding-top: 20px">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>KOMISSIYA RAISI</th>
                        <th>RAIS ORINBOSAR</th>
			<th>KOMISSIYA KOTIBI</th>
			<th>KOMISSIYA AZOLARI</th>
                        <th>BATAFSIL</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for comission in comissions %}
                    <tr>
                        <td>{{comission.id}}</td>
                        <td>{{comission.chairman}}</td>
                        <td>{{comission.deputy}}</td>
			<td>{{comission.secretary}}</td>
			<td>{{comission.members}}</td>
                        <td>

                            <button class="btn btn-success"><i class="fa-regular fa-eye"></i> Batafsil</button>
                        </td>

                    </tr>
                    {% endfor %}


                    <!-- Qo'shimcha ma'lumotlar -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}