{% extends 'base.html' %}

{% block content %}

<main>

            <div class="container-fluid px-4">
                            
                <div class="card mb-4" style="margin-top:100px">
                    <div>
                        <div class="card-header p-3">
                            <div style="display: flex; align-items: center">
                                <i class="fas fa-table me-1"></i>
                                <h4><b>Dasturlar</b></h4>
                            </div>
                            
                <button type="button" id="openModalBtnd"
        	class="btn btn-success"
        	style="margin-left: 6px; padding-left:14px; padding-right:14px"
        	data-bs-toggle="modal" data-bs-target="#directionModal">
    		<i class="fa-solid fas fa-plus"></i>
    		<b>Ixtisoslikni kiritish</b>
		</button>
                    </div>
			<div class="modal fade" id="directionModal" aria-labelledby="taskModalLabel" aria-hidden="true"
     role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <!-- Modal oynadagi forma -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="add_item">Ixtisosliklarni kiritish</h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="row" style="padding:10px;">
                <fieldset class="p-2" style="border: 1px solid #bbbbbb !important;">
                    <div class="row" style="padding:10px;">
                        <div class="col-md-12">
                            <label class="form-label" for="directions">Ixtisoslik nomi:</label>
                            <input class="form-control" name="directions" id="directions" placeholder="Dastur nomi" required>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="p-2" style="border: 1px solid #bbbbbb !important;">
                    <div class="col-md-12">
                        <label class="form-label" for="pdf">PDF fayl</label>
                        <input class="form-control" type="file" name="pdf" id="pdf" required>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Yuborish</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Bekor qilish</button>
        </div>
    </div>
</form>
</div>
</div>


                    <div class="card-body mt-2" style="overflow-x: auto; max-width:100%;">
                        <table id="myTable" class="display table table-striped" style="width:100%; padding-top: 20px">
            		<thead>
                		<tr>
                    		<th>#</th>
                    		<th>Nomi</th>
                    		<th>Tavsif</th>
                		</tr>
            		     </thead>

                            <tbody>
                            {% if curriculums %}

                	{% for curriculum in curriculums %}
                    	<tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ curriculum.directions_name }}</td>
                        <td>
    			 {% if curriculum.direct_file %}
        		<a href="{{ curriculum.direct_file.url }}" download>PDF-ni yuklab olish</a>
    			{% else %}
        		Fayl mavjud emas
    			{% endif %}				
			</td>
                        </tr>
                	{% endfor %}
            		{% else %}
        		<p>Hozircha hech qanday dastur yo‘q.</p>
    			{% endif %}

        	</tbody>
    		            </table>

                  </div>
                    
                </div>

            </div>
        </div>
        </main>
    


{% endblock %}