{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">PhD Exam</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">MALAKAVIY IMTIHON</li>
        </ol>
        <div class="row">
            {% for status, count in status_counts.items %}
            <div class="col-xl-3 col-md-6">
                {% if status == "pending" %}
                <div class="card bg-primary text-white mb-4"
                     style="display:flex; align-items: center; flex-direction: row;">
                    <div><i class="fas fa-hourglass-start" style="font-size: 40px; padding-left: 12px;"></i></div>
                    <div class="card-body">{{ status }}
                        <div><h1>{{ count }}</h1></div>
                    </div>
                </div>
                {% elif status == "accepted" %}
                <div class="card bg-success text-white mb-4"
                     style="display:flex; align-items: center; flex-direction: row;">
                    <div><i class="fa-solid fa fa-check-circle" aria-hidden="true"  style="font-size: 40px; padding-left: 12px;"></i></div>
                    <div class="card-body">{{ status }}
                        <div><h1>{{ count }}</h1></div>
                    </div>
                </div>
                {% elif status == "rejected" %}
                <div class="card bg-danger text-white mb-4"
                     style="display:flex; align-items: center; flex-direction: row;">
                    <div><i class="fa-solid fa fa-times-circle" aria-hidden="true" style="font-size: 40px; padding-left: 12px;"></i></div>
                    <div class="card-body">{{ status }}
                        <div><h1>{{ count }}</h1></div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}


            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4"
                     style="display:flex; align-items: center; flex-direction: row;">
                    <div><i class="fa-solid fa fa-users" aria-hidden="true" style="font-size: 40px; padding-left: 12px;"></i></div>
                    <div class="card-body">Foydalanuvchilar soni
                        <div><h1>25</h1></div>
                    </div>

                    <!--                                    <div class="card-footer d-flex align-items-center justify-content-between">-->
                    <!--                                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                    <!--                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
                    <!--                                    </div>-->
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <!-- Sana -->
                <div class="col-md-4">
                    <div class="card1">
                        <h5 class="card1-title">Bugungi Sana</h5>
                        <p class="card1-content" id="date-display"></p>
                    </div>
                </div>
                <!-- Soat -->
                <div class="col-md-4">
                    <div class="card2" >
                        <h5 class="card2-title">Hozirgi Vaqt</h5>
                        <p class="card2-content" id="current-time"></p>
                    </div>
                </div>
                <!-- Kalendar -->
                <div class="col-md-4">
                    <div class="calendar-container">
                        <div class="calendar-header">
                            <button id="prev-month">&lt;</button>
                            <div id="month-year" style="font-weight: 600"></div>
                            <button id="next-month">&gt;</button>
                        </div>
                        <div class="calendar-days">
                            <div class="day-name">Mon</div>
                            <div class="day-name">Tue</div>
                            <div class="day-name">Wed</div>
                            <div class="day-name">Thu</div>
                            <div class="day-name">Fri</div>
                            <div class="day-name">Sat</div>
                            <div class="day-name">Sun</div>
                        </div>
                        <div class="calendar-dates" id="calendar-dates"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}