<!DOCTYPE html>
<html lang="uz">
<head>
    <title>Arizangiz yuborildi</title>
</head>
<body>
<h2>Arizangiz muvaffaqiyatli yuborildi!</h2>
<h3>Yuborilgan ma'lumotlar:</h3>
<!--<ul>-->
<!--   {% for application in applications %}-->
<!--    <li><strong>Ism Familiya:</strong> {{ application.first_name }}</li>-->
<!--    <li><strong>Ism Familiya:</strong> {{ application.last_name }}</li>-->
<!--    <li><strong>Ism Familiya:</strong> {{ application.father_name }}</li>-->
<!--    <li><strong>Telefon raqam:</strong> {{ application.number }}</li>-->
<!--    <li><strong>Email:</strong> {{ application.email }}</li>-->
<!--    <li><strong>Ariza matni:</strong> {{ application.application }}</li>-->
<!--    <li><strong>Yuborilgan vaqti:</strong> {{ application.sciences }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->

</body>
</html>
