<!-- user_info.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
</head>
<body>
    <h1>User Information</h1>
    <ul>
        <li>Full Name: {{ user_data.full_name }}</li>
        <li>First Name: {{ user_data.first_name }}</li>
        <li>Sur Name: {{ user_data.sur_name }}</li>
        <li>PIN: {{ user_data.pin }}</li>
        <li>Pport No: {{ user_data.pport_no }}</li>
        <li>User ID: {{ user_data.user_id }}</li>
        <li>Auth Method: {{ user_data.auth_method }}</li>
    </ul>
</body>
</html>
