<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sertifikatni tasdiqlash</title>
</head>
<body>
<h1>Sertifikatni tasdiqlash</h1>

<h2>{{ context.full_name }}</h2>
<p><strong>Baholash:</strong> {{ context.score }} ball</p>
<p><strong>Imtihon mavzusi:</strong> {{ context.exam_subject }}</p>
<p><strong>Imtihon sanasi:</strong> {{ context.exam_date }}</p>

<h3>Komissiya a'zolari:</h3>
<p><strong>Komissiya raisi:</strong> {{ context.chairman }}</p>
<p><strong>Rais o'rinbosari:</strong> {{ context.deputy }}</p>
<p><strong>Komissiya kotibi:</strong> {{ context.secretary }}</p>
<p><strong>Komissiya a'zolari:</strong> {{ context.members_text }}</p>


</body>
</html>
